.Navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 7rem;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 2px 2px #eee;
    background-color: #fff;
    z-index: 1000;
}

.Navigation svg {
    width: 8rem;
    height: 100%;
    color: #000;
}

.Navigation nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all .4s ease-in-out;
}


@media only screen and (max-width: 600px) {

    .Navigation {
        padding: 0 3rem;
        justify-content: space-between;
    }

    .Navigation nav {
        height: calc(100vh - 7rem);
        width: 70%;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #0e2431;
        position: fixed;
        top: 7rem;
        right: 0;
        z-index: 1000;
    }
    
    .Open {
        transform: translateX(0);
    }
    
    .Close {
        transform: translateX(100%);
    }
}

